.projects{
    margin-top: 100px;
}
.project{
    display: flex;
    max-width: 100%;
    margin-top: 50px;
}

.project__text-wrap{
    width: 50%;
    padding: 20px 50px;
    box-sizing: border-box;
}

.project__image{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .5s filter ease-out;
}
.project__frame .frame__hover{
    transition: .3s background ease-out;
}
.project__frame:hover .frame__hover{
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.project__frame:hover .frame__hover::after{
    content: "";
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    translate-top: -50%;
    translate-left: -50%;
    transform: translate(-50%, -50%);
    background-image: url('../svg/animation/drag.svg');
    background-size: cover;
    position: absolute;
}

.project__image:hover{
    filter: unset;
}
.project__frame{
    margin: 20px;
    width: 40%;
    border-width: 30px 2px 1px 2px;
    border-style: solid;
    border-color: rgb(218, 213, 213);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(184, 184, 197, 1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(184, 184, 197, 1);
    box-shadow: 0px 0px 10px 1px rgba(184, 184, 197, 1);
    position: relative;
    border-radius: 10px;
    cursor: url("../svg/animation/scroll.svg width='32' height='32' ...") 16 16, pointer;
}

.project__name{
    text-align: justify;
}

.project__caption{
    text-align: justify;
}

.frame__top{
    content: '';
    background: rgb(83,83,83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(180deg, rgb(228, 214, 214) 0%, rgb(190, 183, 183) 35%, rgb(218, 213, 213) 100%);
    position: absolute;
    top: -30px;
    left: -2px;
    width: calc(100% + 4px);
    height: 30px;
}


.frame__buttons, .frame__buttons::after, .frame__buttons::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    left: 10px;
    top: -22px;
}

.frame__buttons{
    background: #ff6059;
}

.frame__buttons::after{
    background: #ffbe2f;
    left: 30px;
    top: 0px;
}

.frame__buttons::before{

    background: #28c941;
    left: 60px;
    top: 0px;
}

@media (max-width: 964px){
    .project{
        flex-wrap: wrap;
    }
    .project__text-wrap{
        width: 100%;
    }
    .project__frame{
        width: 70%;
        margin: auto;
    }

    /* .no-overflow{
        overflow-x: hidden;
    } */

    .project:nth-child(2n){
        flex-flow: wrap-reverse;
    }

    .project__name{
        font-size: 3em;
    }
    
    .project__caption{
        font-size: 2em;
    }

    .projects{
        margin-top: 0;
        margin-bottom: 50px;
    }
}